body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding:0;
	margin:0;
	font: 400 100%/125% "Lato", sans-serif;
	color: #595241;
}

body {
	max-width: 1280px;
	margin: 0 auto;
}

.clear-fix {
	overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
	padding: 0 5%;
}

h1 {
	font: 300 3.5em/1em "Merriweather", serif;
	color: #8a0917;
	display: inline;
	padding: 0 10px 0 0;
}

h2 {
	font: 1.5em/1.5em "Lato", sans-serif;
	padding: 10px;
}

h3 {
	font: 1.25em/1.25em "Lato", sans-serif;
	color: #000;
}

h2,
h3,
h4,
h5 {
	padding:10px 5%;
}

.subtitle {
	font: 1.25em/1.25em "Lato", sans-serif;
	padding: 0;
}

.date-text {
	font: italic 1em/1.25em "Lato", sans-serif;
	color: #999;
	float: left;
}

.location-text {
	font: italic 1em/1.25em "Lato", sans-serif;
	color: #999;
	float: right;
}

p {
	font: 1em/1.25em "Lato", sans-serif;
	color: #333;
}

a {
	color: #1199c3;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

.welcome-message {
	font: 1.25em/1.25em "Lato", sans-serif;
	color: #fff;
}

#skills-h3 {
	color: #8a0917;
	margin: 10px 0 0;
	display: block;
}

.orange {
	background-color: #8a0917;
}

.orange-text {
	color: #8a0917;
}

.white-text {
	color: #fff;
}

.gray {
	background-color: #f4f3ef;
	padding-bottom: 10px;
	clear:both;
}

.dark-gray {
	background-color: #b8ae9c;
}

/* TODO: Replace with image later */
#header {
	background-color: #b8ae9c;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.center-content {
	padding: 2.5% 5%;
}

.center-text {
	color: #fff;
}

ul {
	list-style-type: none;
}

.biopic {
	display: none;
}

img {
	padding: 10px;
}

span {
	padding: 5px;
}

#lets-connect {
	text-align: center;
}

#topContacts{
	padding-bottom: 20px;
}

/* Classes for Accordion Function */
.accordion{
	cursor: pointer;
}

.closed{
	display: none;
	}

.closeMarker{
	float: right;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
	#lets-connect {
		margin-top: 5%;
	}
}

@media only screen and (max-width: 750px) {
	h1{
		font: 300 2.25em/1em "Merriweather", serif;
		display:block;
	}

	#skills-h3 {
		font: 1.25em/1.25em "Lato", sans-serif;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#lets-connect {
		margin-top: 10%;
	}

	.welcome-message {
		display: none;
	}
}

@media only screen and (min-width: 750px) {
	.biopic {
		float: left;
		margin: 0 10px 0 0;
		padding: 0;
		width: 150px;
		border: 1px solid white;
		display: block;
	}
}


/* Classes for map */
#map {
	display: block;
	height: 100%;
	margin: 0 5%;
}

#map-div {
	height: 400px;
	width: 100%;
	padding-bottom: 5%;
	overflow: hidden;
}

